<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<title>Coffee Club &#9749;</title>
		<script src="/public/js/app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>