<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Coffehouse</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/app.js"></script>
=======
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<title>Coffee Club &#9749;</title>
		<script src="/public/js/app.js"></script>
>>>>>>> 7940ac6a0845f5c9059fc8ada4efa9716f823e4c
	</head>
	<body>
		{{{ body }}}
	</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 7940ac6a0845f5c9059fc8ada4efa9716f823e4c
