{{!-- <h1>Your Preferred Coffee House &#9749</h1>

<h2>About Our Community &#127751;</h2>

<h2>Top Posts and Ratings &#11088;</h2> --}}

{{#each coffeehouse}}

<h4>Name: {{name}}</h1>
<h6>Bio: {{bio}}</h1>
<h4>Address: {{address}}</h1>

{{/each}}